[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]
pyinstaller = "*"

[packages]
opencv-python = "*"
uiautomator2 = "*"

[requires]
python_version = "3.8"
